---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Argko.gr - Ελληνικό Λεξικό Αργκό" description="Λεξικό με ελληνικούς όρους αργκό και τους ορισμούς τους" lang="el">
  <main class="container mx-auto px-4 py-8">
    <!-- Your homepage content goes here -->
  </main>
</Layout>
